

doctype html
html(lang='en')
    include pug/_head
    body
        .container
            h1 Hello from Webpack
            h2.container__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ipsam!
                img(src='src/logo.svg')
                img(src=require("Img/webpack.png"))